<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="assets/img/ao_quan_dep.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"><b>Shop</b> Thời trang</h1>
              <h3 class="h2">Chào mừng đến với shop chúng tôi</h3>
              <p>
                Chúng tôi tự hào cung cấp những sản phẩm chất lượng và đa dạng về kiểu dáng và màu sắc. Với phương châm "khách hàng là trên hết",
                chúng tôi cam kết sẽ mang đến cho bạn trải nghiệm mua sắm tuyệt vời nhất.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="assets/img/ao_quan_1.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Thời trang</h1>
              <h3 class="h2">Những sản phẩm tuyệt đẹp</h3>
              <p>
                Chào mừng bạn đến với shop của chúng tôi - nơi cung cấp những mẫu áo quần đẹp và thời trang nhất. Với bộ sưu tập đa dạng và phong phú,
                chúng tôi hy vọng sẽ đem đến cho bạn những trang phục tuyệt vời để tôn lên nét đẹp của chính bạn.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="assets/img/ao_quan_2.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Thời trang</h1>
              <h3 class="h2">Những chiếc áo sơ mi trắng tuyệt đẹp </h3>
              <p>
                Áo sơ mi trắng là một trang phục cổ điển và đẹp mắt, phù hợp với nhiều dịp từ công sở đến dạo phố.
                Với thiết kế đơn giản nhưng tinh tế, áo sơ mi trắng có thể kết hợp với nhiều loại quần và phụ kiện khác nhau để tạo nên nhiều phong cách khác nhau. Nếu bạn muốn tìm kiếm một trang phục đa năng và không bao giờ lỗi mốt,
                áo sơ mi trắng là sự lựa chọn hoàn hảo.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->


<!-- Start Featured Product -->
<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1">Những Sản phẩm Mới</h1>
        <p>
          Sản phẩm áo quần đẹp của chúng tôi luôn đảm bảo chất lượng chính hãng, mang đến sự hài lòng và tin tưởng cho khách hàng.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4" *ngFor="let item of listClothes">
        <div class="card h-100" *ngIf="item">
          <a *ngIf="item.images" [routerLink]="['/detail/', item.id]">
            <img src="{{item.images[0]?.url}}" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li class="text-muted text-right">{{item.price | number}} <sup>đ</sup></li>
            </ul>
            <a [routerLink]="['/detail/', item.id]" class="h2 text-decoration-none text-dark">{{item.name}}</a>
            <p class="card-text">
              {{item.description}}
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
<!-- End Featured Product -->


