
<!-- Breadcrumb Start -->
<div class="container-fluid mt-5">
  <h2 class="text-center">Giỏ Hàng</h2>
</div>
<!-- Breadcrumb End -->


<!-- Cart Start -->
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-light table-borderless table-hover text-center mb-0">
        <thead class="thead-dark">
        <tr>
          <th>Sản Phẩm</th>
          <th>Giá</th>
          <th>Số Lượng</th>
          <th>Thành Tiền</th>
          <th>Xoá</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr *ngFor="let item of cart">
          <td class="align-middle"><img src="{{item.clothes.images[0].url}}" alt="" style="width: 50px;"> {{item.clothes.name}}</td>
          <td class="align-middle">{{item.clothes.price}}<sup>đ</sup></td>
          <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 105px;">
<!--              <div class="input-group-btn">-->
<!--                <button class="btn btn-success btn-minus" (click)="minus(item.id)">-->
<!--                  <i class="fa fa-minus"></i>-->
<!--                </button>-->
<!--              </div>-->
<!--              <div id="quantity{{item.id}}" class="form-control form-control-sm bg-secondary border-0 text-center">{{item.quantity}}</div>-->
<!--              <div class="input-group-btn">-->
<!--                <button class="btn btn-success btn-plus" (click)="plus(item.id)">-->
<!--                  <i class="fa fa-plus"></i>-->
<!--                </button>-->
<!--              </div>-->
              <li class="list-inline-item"><span class="btn btn-success" id="btn-minus" (click)="minus(item.id)">-</span></li>
              <li  class="list-inline-item"><span class="badge bg-secondary" id="quantity{{item.id}}">{{item.quantity}}</span></li>
              <li class="list-inline-item"><span class="btn btn-success" id="btn-plus" (click)="plus(item.id)">+</span></li>
            </div>
          </td>
          <td class="align-middle" id="totalMoney{{item.id}}">{{item.clothes.price * item.quantity|number}}<sup>đ</sup></td>
          <td class="align-middle">
            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 box-payment">
      <h5 class="section-title position-relative text-uppercase mb-3"><span
        class=" pr-3">Tổng Tiền Giỏ Hàng</span></h5>
      <div class=" p-30">
        <div class="border-bottom pb-2">
          <div class="d-flex justify-content-between mb-3">
            <h6>Tổng Sản Phẩm</h6>
            <h6 class="font-weight-medium">{{totalQuantity|number}}</h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Tổng Tiền Hàng</h6>
            <h6 class="font-weight-medium">{{totalPrice|number}}<sup>đ</sup></h6>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <h6>Phí Giao Hàng</h6>
            <h6 class="font-weight-medium">15,000<sup>đ</sup></h6>
          </div>
        </div>
        <div class="pt-2">
          <div class="d-flex justify-content-between mt-2">
            <h5>Tổng Thanh Toán</h5>
            <h5 *ngIf="cart.length != 0">{{totalPrice + 15000|number}}<sup>đ</sup></h5>
          </div>
          <button class="btn btn-block btn btn-success w-100 mt-3 " name="submit" value="buy">Thanh Toán</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->
