<div class="card border-success mt-4">
  <div class="card-body">
    <h4 class="card-title">Thêm Mới Cầu Thủ</h4>
    <form [formGroup]="rfReader" (ngSubmit)="onSubmit()">

      <div class="form-group mt-4">
        <label>Tên độc giả:</label>
        <input type="text" class="form-group" formControlName="name">
      </div>
      <div class="form-group mt-4">
        <label>Tuổi độc giả:</label>
        <input type="text" class="form-group" formControlName="yearOld">
      </div>
      <div class="form-group mt-4">
        <label>Tên sách:</label>
        <select formControlName="book">
          <option selected [value]="''">--Tên sách--</option>
          <option *ngFor="let item of book" [ngValue]="item">{{item.name}}</option>
        </select>
      </div>

      <div>
        <button class="btn bg-primary mt-4" type="submit">Thêm Mới</button>
      </div>
    </form>
  </div>
</div>
