<!-- Start Content -->
<div class="container py-5" >
  <div class="row">

    <div class="col-lg-3">
      <h1 class="h2 pb-4">BỘ LỌC TÌM KIẾM</h1>
      <ul class="list-unstyled templatemo-accordion">
        <li class="pb-3">
          <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
            Giới tính
            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
          </a>
          <ul class="collapse show list-unstyled pl-3">
            <li><a class="text-decoration-none" href="#">Nam</a></li>
            <li><a class="text-decoration-none" href="#">Nữ</a></li>
          </ul>
        </li>
        <li class="pb-3">
          <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
            Sản Phẩm
            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
          </a>
          <ul id="collapseThree" class="collapse list-unstyled pl-3">
            <li><a class="text-decoration-none" href="#">Áo</a></li>
            <li><a class="text-decoration-none" href="#">Quần</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-lg-9">
      <form *ngIf="rfSearch" [formGroup]="rfSearch" (ngSubmit)="findAll(0)">
        <div class="row">
          <div class="col-md-6">
<!--            <ul class="list-inline shop-top-menu pb-3 pt-1" formControlName="gender" >-->
<!--              <li class="list-inline-item"  value="">-->
<!--                <a  class="h3 text-dark text-decoration-none mr-3"  >Tất Cả | </a>-->
<!--              </li>-->
<!--              <li class="list-inline-item" value="Nam">-->
<!--                <a class="h3 text-dark text-decoration-none mr-3" >Nam | </a>-->
<!--              </li>-->
<!--              <li class="list-inline-item" value="Nữ">-->
<!--                <a  class="h3 text-dark text-decoration-none" >Nữ</a>-->
<!--              </li>-->
<!--            </ul>-->
            <div class="form-floating mb-4 form-inp">
              <select class="form-select form-select-underlined form-select-underlined" id="floatingPaymentStatus"
                      formControlName="gender">
                <option value="">- Tất cả -</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>

              </select>
            </div>
          </div>
          <div class="col-md-6 pb-4">
            <div class="d-flex">
              <input type="text" class="form-control" formControlName="name" placeholder="Tìm Kiếm...">
            </div>
          </div>
        </div>
      </form>

      <div class="row">
<!--        <div class="col-md-4" *ngFor="let item of listClothes?.content">-->
<!--          <div class="card mb-4 product-wap rounded-0" *ngIf="item.images">-->
<!--            <div class="card rounded-0">-->
<!--              <img src="{{item.images[0]?.url}}" class="card-img-top d-block" height="270px" alt="...">-->
<!--              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">-->
<!--                <ul class="list-unstyled">-->
<!--                  <li><a class="btn btn-success text-white mt-2" [routerLink]="['/detail/', item.id]"><i class="far fa-eye"></i></a></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--              <a [routerLink]="['/detail/', item.id]" class="h3 text-decoration-none">{{item.name}}</a>-->
<!--              <p class="text-center mb-0">{{item.price}} VNĐ</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="col-md-4" *ngFor="let item of listClothes?.content">
          <div class="card mb-4 product-wap rounded-0" *ngIf="item">
            <div class="card rounded-0">
              <img src="{{item}}" class="card-img-top d-block" height="270px" alt="...">
              <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                  <li><a class="btn btn-success text-white mt-2" [routerLink]="['/detail/', item.id]"><i class="far fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="card-body text-center">
              <a [routerLink]="['/detail/', item.id]" class="h3 text-decoration-none">{{item.name}}</a>
              <p class="text-center mb-0">{{item.price | number}}<sup>đ</sup></p>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div *ngIf="listClothes">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link"
                                       [ngClass]="listClothes.first ? 'disabled': ''"
                                       (click)="gotoPage(0)"> << </a></li>
              <li class="page-item" *ngIf="listClothes.number - 2 > 0">
                <a class="page-link" (click)="gotoPage(listClothes.number - 3)">{{listClothes.number - 2}}</a>
              </li>
              <li class="page-item" *ngIf="listClothes.number - 1 > 0">
                <a class="page-link" (click)="gotoPage(listClothes.number - 2)">{{listClothes.number - 1}}</a>
              </li>
              <li class="page-item" *ngIf="listClothes.number > 0">
                <a class="page-link" (click)="gotoPage(listClothes.number   - 1)">{{listClothes.number}}</a>
              </li>

              <li class="page-item active"><a class="page-link">{{listClothes.number + 1}}</a></li>

              <li class="page-item" *ngIf="listClothes.number + 2 <= listClothes.totalPages">
                <a class="page-link" (click)="gotoPage(listClothes.number + 1)">{{listClothes.number + 2}}</a>
              </li>
              <li class="page-item" *ngIf="listClothes.number + 3 <= listClothes.totalPages">
                <a class="page-link" (click)="gotoPage(listClothes.number + 2)">{{listClothes.number + 3}}</a>
              </li>
              <li class="page-item" *ngIf="listClothes.number + 4 <= listClothes.totalPages">
                <a class="page-link" (click)="gotoPage(listClothes.number + 3)">{{listClothes.number + 4}}</a>
              </li>
              <li class="page-item"><a class="page-link"
                                       [ngClass]="listClothes.last ? 'disabled': ''"
                                       (click)="gotoPage(listClothes.totalPages - 1)"> >> </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End Content -->


